@model IEnumerable<MVC_Consumo_Api_Video_Club.Models.ClientesModel>

<h2>Listado de Clientes</h2>

<p>
    @Html.ActionLink("Create Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidosCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidosCliente)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCliente }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idCliente }) |
            @Html.ActionLink("Borrado", "Delete", new { id = item.idCliente })
        </td>
    </tr>
}

</table>
